
{% extends 'base.html' %}


{% block content %}

<div class="well">

<h2>Contact Us</h2>

<h3>Gmail:</h3>
<h4>urevents.info@gmail.com</h4>


<h3>Facebook:</h3>
<h4>Please like and share our website on Facebook! &nbsp;&nbsp;

<div class="fb-like" data-size="large" data-href="http://www.urevents.info/" data-layout="button_count" data-action="like" data-show-faces="false" data-share="true"></div>
</h4>	

<h4>
	ID: UR EventsRock<br>
	<a href = "https://www.facebook.com/pages/URevents/559827114123403">Our fanpage!</a>
</h4>


<h3>Twitter:</h3>
<h4>
	<a href = "https://twitter.com/URevents_info">URevents@URevents_info</a>
	<a href="https://twitter.com/share" class="twitter-share-button" data-url="http://urevents.info/" data-text="URevents is awesome!" data-via="URevents_info" data-size="large" data-hashtags="URevents">Tweet</a>
	
	<script>
		!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');
	</script>

</h4>

</div>

{% endblock %}

{% block sidebar %}

<a class="btn btn-success btn-block" href='{% url "home" %}'>
  Back to Home
</a>
<br>

{% include 'sidebar_login.html' %}

{% include 'poll_weekly.html' %}

{% endblock %}

