{% extends 'base.html' %}


{% block content %}

<div class = 'well'>


<h3 class="title">
    <strong><big>{{ event.title }}</big></strong>     
    <span style="float:right;"><small>Posted on: {{ event.pub_date|date:"F/d, h:m A" }}</small></span>
</h3>


<h3>Event date: {{ event.event_date|date:"F/d, h:m A" }}</h3>

<p><strong><big>Category: </big></strong> 
	{% for category in event.category.all %}
		{{ category }}  
	{% endfor %}
</p>

<p><strong><big>Location: </big></strong>{{ event.location }}</p>

<p><strong><big>Co-Sponsored by: </big></strong>
	{% for co_sponsored in event.co_sponsored.all %}
		{{ co_sponsored }}  
	{% endfor %}
</p>


<p><strong><big>Description: </big></strong>{{ event.body }}</p>

<span style="float:right;"><a class="btn btn-warning" href="/edit/event{{ event.id }}/">Edit</a></span>
<br><br>
<hr>

<div id="disqus_thread"></div>
<script type="text/javascript">
    /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
    var disqus_shortname = 'urevents'; // required: replace example with your forum shortname

    /* * * DON'T EDIT BELOW THIS LINE * * */
    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
<a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
    

<script type="text/javascript">
    /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
    var disqus_shortname = 'urevents'; // required: replace example with your forum shortname

    /* * * DON'T EDIT BELOW THIS LINE * * */
    (function () {
        var s = document.createElement('script'); s.async = true;
        s.type = 'text/javascript';
        s.src = '//' + disqus_shortname + '.disqus.com/count.js';
        (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
    }());
    </script>
</div>
{% endblock %}

{% block sidebar %}

{% include 'sidebar.html' %}

{% endblock %}


