{% extends 'base.html' %}


{% block content %}

{% for event in events %}
<div class="panel-group" id="accordion">
  
  <a data-toggle="collapse" href="#collapse{{ event.id }}">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h4 class="panel-title">
          <strong><big>{{ event.title|truncatewords:"10" }}</big></strong>
          <br>
          <big>Event Date: </big>
          {{ event.event_date }} 
          <span style="float:right;">Posted: {{ event.pub_date }} &nbsp; by {{ event.author }}</span>
        </h4>
      </div>
    </div>
  </a>

  <div class="panel panel-default">
    <div id="collapse{{ event.id }}" class="panel-collapse collapse">
      <div class="panel-body">
        <p><strong><big>Category: </big></strong>
          {% for category in event.category.all %}
            {{ category }}{% if not forloop.last %},{% else %} {% endif %} 

          {% endfor %}
        </p>

        <p><strong><big>Location: </big></strong>
          {{ event.location }}</p>

        <p><strong><big>Co-sponsored by: </big></strong>
          {% for co_sponsored in event.co_sponsored.all %}
            {{ co_sponsored }}{% if not forloop.last %},{% else %} {% endif %}   
          {% endfor %}
        </p>

        <p><strong><big>Description: </big></strong>
          {{ event.body|truncatewords:"50" }}</p>
        <a class="btn btn-primary" href="/event{{ event.id }}/">Read More &raquo;</a>
      </div>
    </div>
  </div>
</div>

{% endfor %}

{% endblock %}

{% block sidebar %}

{% include 'sidebar.html' %}

{% endblock %}






