{% extends 'base.html' %}


{% block content %}


    <!-- First Blog Post -->
    {% for event in events %}

    <h2>
        <a href="/event{{ event.id }}/">{{ event.title }}</a>&nbsp;&nbsp; 
        On: {{ event.event_date }}
    </h2>
    <p class="lead">
        by {{ event.author }}
    </p>
    <p><span class="glyphicon glyphicon-time"></span> Posted on {{ event.pub_date }}</p>

    <p>Category: 
        {% for category in event.category.all %}
            {{ category }} 
        {% endfor %}
    </p>

    <p>Location: {{ event.location }}</p>

    <p>Co-Sponsored by: 
        {% for co_sponsored in event.co_sponsored.all %}
            {{ co_sponsored }}
 
        {% endfor %}
    </p>

    <p>{{ event.body|truncatewords:"50" }}</p>
    <a class="btn btn-primary" href="/event{{ event.id }}/">Read More &raquo;</a>

    <hr>

    {% endfor %}

{% endblock %}


