

<div class="jumbotron">
	<div class="container">
		<div class="col-md-8">
			<h1>URevents</h1>
	    <p>Your only source for all event information in University of Rochester!<br>
	    Find out what's going on by clicking on the event panels!
			
	    
		    <div class="fb-like" data-href="http://urevents.info/" data-layout="button_count" data-action="like" data-show-faces="false" data-share="true"></div>

		    <br>
		    <a href="https://twitter.com/share" class="twitter-share-button" data-url="http://urevents.info/" data-text="URevents is awesome!" data-via="URevents_info" data-size="small" data-hashtags="URevents">Tweet</a>
			
				<script>
					!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');
				</script>
			</p>	            
		</div>

		<div class="col-md-4">
			<p><strong>Picture of the Week:</strong></p>
			<p><img src = '{{ STATIC_URL }}img/rochester_bee.gif' class = 'img-responsive' width = '300px'>
			</p>

		</div>
	</div>
</div>


