

<div class="well">

<h3>You are not logged in.</h3>

    
    <form action= "/accounts/auth/" method= "post">
    	{%csrf_token%}

        <label for = "username">User name:</label>
        <input type = "text" name= "username" value= "" id= "username">
        <label for = "password"> Password:</label>
        <input type = "password" name = "password" value = "" id = "password">
        <input type = "submit" value = "login" />
    </form>
    {% if messages %}
            {% for message in messages %}
              <p{% if message.tags == "success" %} class="alert alert-danger"{% endif %}>{{ message }}</p>
            {% endfor %}  
      {% endif %}


</div>