<!-- Search -->
<div class="well">
  <h4>Blog Search</h4>
  <div class="input-group">
    <form method = "get" action = "/search/">

      <input type="text" class="form-control" name = "q" id = "id_q" />
        <span class="input-group-btn">

          <button class="btn btn-primary" type = "submit" value = "Submit">
            <span class="glyphicon glyphicon-search"></span>
          </button>
        </span>

    </form>

    <br>
    <a class="btn btn-success btn-block" href='{% url "home" %}'>
      Back to Home
    </a>
  </div>
</div>

