
{% include 'facebook_login.html' %}

{% if not user.is_authenticated %}
	{% include 'login_form.html' %}
{% endif %}


{% if user.is_authenticated %}
	{% include 'logout_button.html' %}
{% endif %}

 
{% include 'sidebar_search.html' %}

<div class="well">
    <h4>Make a post</h4>
    <a class="btn btn-warning" href='{% url "create" %}'>
        Make a post!
    </a>
</div>

{% include 'sidebar_category.html' %}

<!-- Side Widget Well -->
<div class="well">
    <h4>Side Widget Well</h4>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore, perspiciatis adipisci accusamus laudantium odit aliquam repellat tempore quos aspernatur vero.</p>
</div>


