.panel-group {
	margin-bottom: 0px;
}

.input-group .form-control{
	width: 70%;

}

.page-header {

border-bottom: 0px solid #000000; 
}

.jumbotron {
padding-top: 30px;
padding-bottom: 20px;
background-color: rgb(235, 217, 13);
}

.container{
	margin-right: 20px;
	margin-left: 20px;
}

.fb-like{
    height: 20px;
    overflow: hidden;
}


