{% extends 'base.html' %}

{% block content %}


    <h1 class="page-header">
        UR EVENTS</br>
        <small>Find Out What's going on in U of R!</small>
    </h1>


    <!-- First Blog Post -->
    {% for event in events %}

    <h2>
        <a href="/event{{ event.id }}/">{{ event.title }}</a>&nbsp;&nbsp; 
        On: {{ event.event_date }}
    </h2>
    <p class="lead">
        by {{ event.author }}
    </p>
    <p><span class="glyphicon glyphicon-time"></span> Posted on {{ event.pub_date }}</p>

    <p>{{ event.body|truncatewords:"50" }}</p>
    <a class="btn btn-primary" href="/event{{ event.id }}/">Read More &raquo;</a>

    <hr>

    {% endfor %}


{% endblock %}

